@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

@layer base {
  a {
    text-decoration: none;
    color: black;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.social-icon {
  width: fit-content;
  height: 100%;
  align-items: center;
  float: right;
}
.link {
  text-decoration: none;
  color: black !important;
  font-weight: bold !important;
  margin-top: 10px;
}
/* styles/globals.css */
@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.marquee-container {
  overflow: hidden; /* Ẩn phần chữ ra ngoài vùng chứa */
  white-space: nowrap;
}

.animate-marquee {
  display: inline-block;
  padding-left: 100%; /* Đẩy chữ ra ngoài khỏi vùng chứa ban đầu */
  animation: marquee 60s linear infinite;
}
.text-marquee {
  width: calc(100% - 40px);
  display: flex;
  align-items: center;
}
h5 {
  font-size: 1.1em;
  margin: 0 0 0.5em;
  line-height: 1.6;
}
p {
  margin: 0 0 1.75em;
  text-rendering: optimizeLegibility;
}
ul {
  padding-left: 2rem;
}
.social-icon i {
  color: #a0a0a0;
  font-size: 16px;
  margin-left: 1em;
}
hr {
  margin-bottom: 30px;
}
.most-title {
  width: calc(100% - 40px);
}
.one {
  border-left: 1px solid #a0a0a0;
}
.container {
  max-width: 1300px;
}
h1 {
  font-size: 2em;
  font-weight: bold;
}
h2 {
  font-size: 1.75em;
  font-weight: bold;
}
h3 {
  font-size: 1.5em;
  font-weight: bold;
}
h4 {
  font-size: 1.25em;
  font-weight: bold;
}
h6 {
  font-size: 0.875em;
  font-weight: bold;
}
ol {
  list-style: revert;
  margin: revert;
  padding: revert;
}
img {
  object-fit: cover;
}
